dash_bootstrap_components==0.10.3
scipy==1.4.1
mlxtend==0.17.2
dash_core_components==1.10.2
pycausalimpact==0.1.1
numpy==1.18.1
jupyter_dash==0.2.1.post1
matplotlib==3.2.0
plotly==4.8.1
statsmodels==0.11.0
dash_html_components==1.0.3
dash_table==4.9.0
pmdarima==1.7.0
pandas==1.0.3
dash_bio==0.4.8
dash==1.14.0
causalimpact==0.2.0
fbprophet==0.6
gunicorn

